<h1>Dodaj nową grę</h1>

<%= form_for @game do |f| %>

    <p>
        <%= f.label :name, "Tytuł gry" %>
        <%= f.text_field :name %>
    </p>

    <p>
    <%= f.label :description, "Opis" %>
    <%= f.text_area :description %>
    </p>

    <p>
    <%= f.label :min_player_count, "Minimalna liczba graczy" %>
    <%= f.text_field :min_player_count %>
    </p>

    <p>
    <%= f.label :max_player_count, "Maksymalna liczba graczy" %>
    <%= f.text_field :max_player_count %>
    </p>

    <p>
    <%= f.label :publication_year, "Rok wydania" %>
    <%= f.text_field :publication_year %>
    </p>

    <p>
    <%= f.label :deposit, "Kaucja" %>
    <%= f.text_field :deposit %>
    </p>

    <p>
    <%= f.label :rental_price, "Cena za dzień wypożyczenia" %>
    <%= f.text_field :rental_price %>
    </p>

    <p>
    <%= f.submit "Submit", disable_with: 'Submiting...' %>
    </p>

    <!-- form_for @object, html: { multipart: true }, do |f| -->
    <!-- form_for @object, html: { class: "classname" }, do |f| -->

    
<% end %>
  